# Git CLI
export GIT_AUTHOR_EMAIL="mike.gallagher@servicenow.com"
export GIT_AUTHOR_NAME="Mike Gallagher"
export GIT_COMMITTER_EMAIL="mike.gallagher@servicenow.com"
export GIT_COMMITTER_NAME="Mike Gallagher"

# Kubernetes context
kubectx MTGGitOpsAKS
